Repository ioverho/prob_conf_mat: changes, and which pre-commit hooks are due for each by the changed paths.
All: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-toml
-   repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.3
    hooks:
      - id: uv-lock
      - id: uv-export
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.8
    hooks:
    # Run the linter.
    -   id: ruff
        types_or: [ python, pyi ]
    # Run the formatter.
    -   id: ruff-format
        types_or: [ python, pyi ]
-   repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.400
    hooks:
    - id: pyright
-   repo: local
    hooks:
    -   id: test_io
        name: test_io
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_io.py
    -   id: test_metric_equivalence
        name: test_metric_equivalence
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_metric_equivalence.py
    -   id: test_notebooks
        name: test_notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_notebooks.py
    -   id: test_rng
        name: test_rng
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_rng.py
-   repo: local
    hooks:
    # TODO: make this dynamic
    # i.e. run only when the python files are newer than the documentation
    #-   id: update_documentation
    #    name: update_documentation
    #    language: python
    #    types: [python]
    #    pass_filenames: false
    #    entry: uv run python mkdocs.py
    -   id: mkdocs
        name: mkdocs
        language: python
        types: [python]
        pass_filenames: false
        entry: uv run mkdocs build

added kde estimation
  src/prob_conf_mat/stats/kde.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

removed sns from plot_metric_summaries
  src/prob_conf_mat/study.py
  tests/test_reporting_example.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

removed sns from plot_pairwise_comparison | expanded xlim support
  src/prob_conf_mat/study.py
  tests/test_reporting_example.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

removed sns from plot_experiment_aggregation
  src/prob_conf_mat/study.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

remove sns and pandas as dependencies
  README.md
  documentation/index.md
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

update reporting examples test data
  tests/test_reporting_example.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

bring test data to github | check for test data
  .gitignore
  tests/data/confusion_matrices/sklearn_1.csv
  tests/data/confusion_matrices/sklearn_2.csv
  tests/data/confusion_matrices/sklearn_face_classification.csv
  tests/data/confusion_matrices/sklearn_text_documents.csv
  tests/data/confusion_matrices/wikipedia_fecal_occult_blood.csv
  tests/data/malformed_confusion_matrices/malformed_shape.csv
  tests/data/malformed_confusion_matrices/nan_values.csv
  tests/data/malformed_confusion_matrices/non_integer_data.csv
  tests/data/mnist_digits/mlp_0.csv
  tests/data/mnist_digits/mlp_1.csv
  tests/data/mnist_digits/mlp_2.csv
  tests/data/mnist_digits/mlp_3.csv
  tests/data/mnist_digits/mlp_4.csv
  tests/data/mnist_digits/svm_0.csv
  tests/data/mnist_digits/svm_1.csv
  tests/data/mnist_digits/svm_2.csv
  tests/data/mnist_digits/svm_3.csv
  tests/data/mnist_digits/svm_4.csv
  tests/test_io.py
  tests/test_metric_equivalence.py
  tests/test_notebooks.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

remove seaborn and pandas as requirements (#6)
  .gitignore
  README.md
  documentation/index.md
  pyproject.toml
  requirements.txt
  src/prob_conf_mat/stats/kde.py
  src/prob_conf_mat/study.py
  tests/data/confusion_matrices/sklearn_1.csv
  tests/data/confusion_matrices/sklearn_2.csv
  tests/data/confusion_matrices/sklearn_face_classification.csv
  tests/data/confusion_matrices/sklearn_text_documents.csv
  tests/data/confusion_matrices/wikipedia_fecal_occult_blood.csv
  tests/data/malformed_confusion_matrices/malformed_shape.csv
  tests/data/malformed_confusion_matrices/nan_values.csv
  tests/data/malformed_confusion_matrices/non_integer_data.csv
  tests/data/mnist_digits/mlp_0.csv
  tests/data/mnist_digits/mlp_1.csv
  tests/data/mnist_digits/mlp_2.csv
  tests/data/mnist_digits/mlp_3.csv
  tests/data/mnist_digits/mlp_4.csv
  tests/data/mnist_digits/svm_0.csv
  tests/data/mnist_digits/svm_1.csv
  tests/data/mnist_digits/svm_2.csv
  tests/data/mnist_digits/svm_3.csv
  tests/data/mnist_digits/svm_4.csv
  tests/test_io.py
  tests/test_metric_equivalence.py
  tests/test_notebooks.py
  tests/test_reporting_example.py
  uv.lock
Due: test_io, test_metric_equivalence, test_rng, mkdocs

Deployed 89349c3 with MkDocs version: 1.6.1
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_interfacing_with_the_filesystem.html
  Reference/Study.html
  assets/figures/replication/totsch_fig_6.svg
  index.html
  search/search_index.json
Due: none

made jaxtyping a dev dependency
  .pre-commit-config.yaml
  pyproject.toml
Due: none

updated dependencies to minimum versions | stricter pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_metric_equivalence.py
  uv.lock
Due: test_io, test_metric_equivalence, test_rng, mkdocs

revert jaxtyping becoming dev dependency
  .pre-commit-config.yaml
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  pyproject.toml
  uv.lock
Due: test_notebooks

set dependency lower limits (#7)
  .pre-commit-config.yaml
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  pyproject.toml
  tests/test_metric_equivalence.py
  uv.lock
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

Deployed 8af2773 with MkDocs version: 1.6.1
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  assets/figures/replication/totsch_fig_6.svg
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

create dependabot.yaml
  .github/dependabot.yaml
Due: none

Deployed 4e79f34 with MkDocs version: 1.6.1
  Explanation/totsch_replication.html
  assets/figures/replication/totsch_fig_6.svg
  search/search_index.json
Due: none

Deployed 13d8a44 with MkDocs version: 1.6.1
  Explanation/totsch_replication.html
  assets/figures/replication/totsch_fig_6.svg
  search/search_index.json
Due: none

change dependabot from pip to uv
  .github/dependabot.yaml
Due: none

Deployed ae30ce7 with MkDocs version: 1.6.1
  Explanation/totsch_replication.html
  assets/figures/replication/totsch_fig_6.svg
  search/search_index.json
Due: none

added documentationto all public classes | passing ruff checks
  Makefile
  pyproject.toml
  src/prob_conf_mat/config.py
  src/prob_conf_mat/experiment_aggregation/interface.py
  src/prob_conf_mat/experiment_comparison/pairwise.py
  src/prob_conf_mat/metrics/__init__.py
  src/prob_conf_mat/metrics/_metrics.py
  src/prob_conf_mat/metrics/abc.py
  src/prob_conf_mat/metrics/averaging.py
  src/prob_conf_mat/metrics/collection.py
  src/prob_conf_mat/reporting/__init__.py
  src/prob_conf_mat/reporting/experiment_summaries.py
  src/prob_conf_mat/reporting/pairwise_comparison.py
  src/prob_conf_mat/reporting/random_comparison.py
  src/prob_conf_mat/reporting/visualization/__init__.py
  src/prob_conf_mat/reporting/visualization/diff_dist_plot.py
  src/prob_conf_mat/reporting/visualization/dist_plot.py
  src/prob_conf_mat/utils/cache.py
  src/prob_conf_mat/utils/formatting.py
  src/prob_conf_mat/utils/lazy_import.py
  src/prob_conf_mat/utils/rng.py
  src/prob_conf_mat/utils/typing.py
  src/prob_conf_mat/utils/wrappers.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

expanded documentation (#10)
  Makefile
  pyproject.toml
  src/prob_conf_mat/config.py
  src/prob_conf_mat/experiment_aggregation/interface.py
  src/prob_conf_mat/experiment_comparison/pairwise.py
  src/prob_conf_mat/metrics/__init__.py
  src/prob_conf_mat/metrics/_metrics.py
  src/prob_conf_mat/metrics/abc.py
  src/prob_conf_mat/metrics/averaging.py
  src/prob_conf_mat/metrics/collection.py
  src/prob_conf_mat/reporting/__init__.py
  src/prob_conf_mat/reporting/experiment_summaries.py
  src/prob_conf_mat/reporting/pairwise_comparison.py
  src/prob_conf_mat/reporting/random_comparison.py
  src/prob_conf_mat/reporting/visualization/__init__.py
  src/prob_conf_mat/reporting/visualization/diff_dist_plot.py
  src/prob_conf_mat/reporting/visualization/dist_plot.py
  src/prob_conf_mat/utils/cache.py
  src/prob_conf_mat/utils/formatting.py
  src/prob_conf_mat/utils/lazy_import.py
  src/prob_conf_mat/utils/rng.py
  src/prob_conf_mat/utils/typing.py
  src/prob_conf_mat/utils/wrappers.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

Deployed 966abb9 with MkDocs version: 1.6.1
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  Reference/Metrics/Averaging.html
  Reference/Metrics/Metrics.html
  Reference/Study.html
  assets/figures/replication/totsch_fig_6.svg
  objects.inv
  search/search_index.json
Due: none

version bump
  pyproject.toml
Due: none

updated metrics & averaging documentation
  Makefile
  documentation/Explanation/metric_computation.md
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/02_comparing_experiments.ipynb
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/Getting Started/04_interfacing_with_the_filesystem.ipynb
  documentation/How To Guides/comparing_many_experiments.md
  documentation/How To Guides/configuration.md
  documentation/How To Guides/metric_syntax.md
  documentation/Reference/Averaging.md
  documentation/Reference/Experiment Aggregation/heterogeneity.md
  documentation/Reference/Metrics.md
  documentation/Reference/Metrics/index.md
  documentation/Reference/index.md
  documentation/assets/figures/examples/averaged_binary_metric_computation.svg
  documentation/assets/figures/examples/computation_schedule.svg
  documentation/assets/figures/replication/totsch_fig_6.svg
  documentation/index.md
  documentation/templates/averaging.md
  documentation/templates/metrics.md
  documentation/templates/metrics_index.md
  documentation/templates/mkdocs.py
  mkdocs.yaml
  pyproject.toml
  src/prob_conf_mat/experiment.py
  src/prob_conf_mat/metrics/collection.py
  src/prob_conf_mat/stats/kde.py
  src/prob_conf_mat/study.py
  uv.lock
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

Deployed 8b0b024 with MkDocs version: 1.6.1
  404.html
  Explanation/experiment_aggregation.html
  Explanation/generating_confusion_matrices.html
  Explanation/hypothesis_testing.html
  Explanation/metric_computation.html
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_interfacing_with_the_filesystem.html
  How To Guides/choosing_a_prior.html
  How To Guides/comparing_many_experiments.html
  How To Guides/configuration.html
  How To Guides/extending_the_library.html
  How To Guides/metric_syntax.html
  Reference/Averaging.html
  Reference/Experiment Aggregation/heterogeneity.html
  Reference/Experiment Aggregation/index.html
  Reference/Experiment.html
  Reference/ExperimentGroup.html
  Reference/IO.html
  Reference/Metrics.html
  Reference/Metrics/index.html
  Reference/Statistics.html
  Reference/Study.html
  Reference/index.html
  assets/figures/examples/averaged_binary_metric_computation.svg
  assets/figures/examples/computation_schedule.svg
  assets/figures/replication/totsch_fig_6.svg
  assets/images/social/How To Guides/metric_syntax.png
  assets/images/social/Reference/Averaging.png
  assets/images/social/Reference/Metrics.png
  assets/images/social/Reference/Metrics/index.png
  assets/images/social/Reference/index.png
  index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

remove type checking blocks from code cov
  src/prob_conf_mat/experiment.py
  src/prob_conf_mat/experiment_aggregation/abc.py
  src/prob_conf_mat/experiment_aggregation/aggregators.py
  src/prob_conf_mat/experiment_aggregation/heterogeneity.py
  src/prob_conf_mat/experiment_comparison/listwise.py
  src/prob_conf_mat/experiment_comparison/pairwise.py
  src/prob_conf_mat/experiment_group.py
  src/prob_conf_mat/metrics/_metrics.py
  src/prob_conf_mat/metrics/abc.py
  src/prob_conf_mat/metrics/averaging.py
  src/prob_conf_mat/metrics/collection.py
  src/prob_conf_mat/metrics/interface.py
  src/prob_conf_mat/stats/batched_averaging.py
  src/prob_conf_mat/stats/dirichlet_distribution.py
  src/prob_conf_mat/stats/hdi_estimation.py
  src/prob_conf_mat/stats/mode_estimation.py
  src/prob_conf_mat/stats/summary.py
  src/prob_conf_mat/stats/truncated_sampling.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added stat inference explainer
  documentation/Explanation/generating_confusion_matrices.md
  documentation/Explanation/hypothesis_testing.md
  documentation/Explanation/inference.md
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/assets/figures/central_tendency_and_uncertainty.svg
  documentation/assets/figures/example_rope.svg
  documentation/assets/figures/random_vs_non_random.svg
  documentation/assets/figures/replication/totsch_fig_6.svg
  mkdocs.yaml
Due: test_notebooks

allow float confusion matrices
  src/prob_conf_mat/io.py
  src/prob_conf_mat/study.py
  tests/test_io.py
  tests/test_study.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

bump dependencies
  uv.lock
Due: none

tutorials overview
  documentation/Getting Started/04_loading_and_saving_to_disk.ipynb
  documentation/Getting Started/index.md
  documentation/assets/figures/overview.svg
  documentation/assets/figures/replication/totsch_fig_6.svg
  mkdocs.yaml
Due: test_notebooks

additional documentation | allow float confusion matrices | type checking blocks removed from codecov (#17)
  documentation/Explanation/generating_confusion_matrices.md
  documentation/Explanation/hypothesis_testing.md
  documentation/Explanation/inference.md
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/04_loading_and_saving_to_disk.ipynb
  documentation/Getting Started/index.md
  documentation/assets/figures/central_tendency_and_uncertainty.svg
  documentation/assets/figures/example_rope.svg
  documentation/assets/figures/overview.svg
  documentation/assets/figures/random_vs_non_random.svg
  documentation/assets/figures/replication/totsch_fig_6.svg
  mkdocs.yaml
  src/prob_conf_mat/experiment.py
  src/prob_conf_mat/experiment_aggregation/abc.py
  src/prob_conf_mat/experiment_aggregation/aggregators.py
  src/prob_conf_mat/experiment_aggregation/heterogeneity.py
  src/prob_conf_mat/experiment_comparison/listwise.py
  src/prob_conf_mat/experiment_comparison/pairwise.py
  src/prob_conf_mat/experiment_group.py
  src/prob_conf_mat/io.py
  src/prob_conf_mat/metrics/_metrics.py
  src/prob_conf_mat/metrics/abc.py
  src/prob_conf_mat/metrics/averaging.py
  src/prob_conf_mat/metrics/collection.py
  src/prob_conf_mat/metrics/interface.py
  src/prob_conf_mat/stats/batched_averaging.py
  src/prob_conf_mat/stats/dirichlet_distribution.py
  src/prob_conf_mat/stats/hdi_estimation.py
  src/prob_conf_mat/stats/mode_estimation.py
  src/prob_conf_mat/stats/summary.py
  src/prob_conf_mat/stats/truncated_sampling.py
  src/prob_conf_mat/study.py
  tests/test_io.py
  tests/test_study.py
  uv.lock
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

minor documentation tweaks
  Makefile
  README.md
  documentation/Explanation/totsch_replication.ipynb
  documentation/Getting Started/index.md
  documentation/assets/figures/replication/totsch_fig_6.svg
  documentation/index.md
  mkdocs.yaml
  pyproject.toml
  uv.lock
Due: test_notebooks

Deployed 25e026e with MkDocs version: 1.6.1
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_loading_and_saving_to_disk.html
  Getting Started/index.html
  assets/figures/replication/totsch_fig_6.svg
  index.html
  search/search_index.json
Due: none

bump version to v0.1.0
  documentation/Getting Started/02_comparing_experiments.ipynb
  documentation_overrides/main.html
  pyproject.toml
  uv.lock
Due: test_notebooks

Deployed 385f70c with MkDocs version: 1.6.1
  404.html
  Explanation/experiment_aggregation.html
  Explanation/generating_confusion_matrices.html
  Explanation/inference.html
  Explanation/metric_computation.html
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_loading_and_saving_to_disk.html
  Getting Started/index.html
  How To Guides/choosing_a_prior.html
  How To Guides/comparing_many_experiments.html
  How To Guides/configuration.html
  How To Guides/extending_the_library.html
  How To Guides/metric_syntax.html
  Reference/Averaging.html
  Reference/Experiment Aggregation/heterogeneity.html
  Reference/Experiment Aggregation/index.html
  Reference/Experiment.html
  Reference/ExperimentGroup.html
  Reference/IO.html
  Reference/Metrics.html
  Reference/Statistics.html
  Reference/Study.html
  index.html
  search/search_index.json
Due: none

remove dependabot
  .github/dependabot.yaml
Due: none

bump dev dependencies
  mkdocs.yaml
  pyproject.toml
  uv.lock
Due: none
