Repository ioverho/prob_conf_mat: changes, and which pre-commit hooks are due for each by the changed paths.
All: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-toml
-   repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.3
    hooks:
      - id: uv-lock
      - id: uv-export
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.8
    hooks:
    # Run the linter.
    -   id: ruff
        types_or: [ python, pyi ]
    # Run the formatter.
    -   id: ruff-format
        types_or: [ python, pyi ]
-   repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.400
    hooks:
    - id: pyright
-   repo: local
    hooks:
    -   id: test_io
        name: test_io
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_io.py
    -   id: test_metric_equivalence
        name: test_metric_equivalence
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_metric_equivalence.py
    -   id: test_notebooks
        name: test_notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_notebooks.py
    -   id: test_rng
        name: test_rng
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_rng.py
-   repo: local
    hooks:
    # TODO: make this dynamic
    # i.e. run only when the python files are newer than the documentation
    #-   id: update_documentation
    #    name: update_documentation
    #    language: python
    #    types: [python]
    #    pass_filenames: false
    #    entry: uv run python mkdocs.py
    -   id: mkdocs
        name: mkdocs
        language: python
        types: [python]
        pass_filenames: false
        entry: uv run mkdocs build

trying to fix documentation.yaml
  .github/workflows/documentation.yaml
Due: none

Deployed b16dd18 with MkDocs version: 1.6.1
  Explanation/experiment_aggregation.html
  Explanation/generating_confusion_matrices.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  How To Guides/extending_the_library.html
  How To Guides/metric_syntax.html
  Reference/Experiment Aggregation/heterogeneity.html
  Reference/Experiment Aggregation/index.html
  Reference/Experiment.html
  Reference/ExperimentGroup.html
  Reference/IO.html
  Reference/Metrics/Averaging.html
  Reference/Metrics/Metrics.html
  Reference/Metrics/index.html
  Reference/Statistics.html
  Reference/Study.html
  Reference/index.html
  _partial/averaging.html
  _partial/experiment_aggregation.html
  _partial/metrics.html
  _partial/metrics_index.html
Due: none

fixed index logo | added warning banner
  .github/workflows/documentation.yaml
  documentation/index.md
  documentation_overrides/main.html
Due: none

Deployed d4324eb with MkDocs version: 1.6.1
  404.html
  Explanation/experiment_aggregation.html
  Explanation/generating_confusion_matrices.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_interfacing_with_the_filesystem.html
  How To Guides/configuration.html
  How To Guides/extending_the_library.html
  How To Guides/metric_syntax.html
  Reference/Experiment Aggregation/heterogeneity.html
  Reference/Experiment Aggregation/index.html
  Reference/Experiment.html
  Reference/ExperimentGroup.html
  Reference/IO.html
  Reference/Metrics/Averaging.html
  Reference/Metrics/Metrics.html
  Reference/Metrics/index.html
  Reference/Statistics.html
  Reference/Study.html
  Reference/index.html
  _partial/averaging.html
  _partial/experiment_aggregation.html
  _partial/metrics.html
  _partial/metrics_index.html
  index.html
Due: none

added goatcounter analytics to documentation
  documentation_overrides/partials/integrations/analytics/custom.html
  mkdocs.yaml
Due: none

Deployed 68b29ca with MkDocs version: 1.6.1
  404.html
  Explanation/experiment_aggregation.html
  Explanation/generating_confusion_matrices.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_interfacing_with_the_filesystem.html
  How To Guides/configuration.html
  How To Guides/extending_the_library.html
  How To Guides/metric_syntax.html
  Reference/Experiment Aggregation/heterogeneity.html
  Reference/Experiment Aggregation/index.html
  Reference/Experiment.html
  Reference/ExperimentGroup.html
  Reference/IO.html
  Reference/Metrics/Averaging.html
  Reference/Metrics/Metrics.html
  Reference/Metrics/index.html
  Reference/Statistics.html
  Reference/Study.html
  Reference/index.html
  _partial/averaging.html
  _partial/experiment_aggregation.html
  _partial/metrics.html
  _partial/metrics_index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

fix logo font rendering
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/02_comparing_experiments.ipynb
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/_static/logo_rectangle_dark_text.svg
  documentation/_static/logo_rectangle_light_text.svg
  documentation/_static/logo_square.svg
Due: test_notebooks

Deployed e1016e0 with MkDocs version: 1.6.1
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  _static/logo_rectangle_dark_text.svg
  _static/logo_rectangle_light_text.svg
  _static/logo_square.svg
  search/search_index.json
Due: none

how to on priors | updated readme
  README.md
  documentation/How To Guides/choosing_a_prior.md
  documentation/_static/figures/priors/by_count.png
  documentation/_static/figures/priors/by_dimension.png
  documentation/index.md
  documentation_overrides/main.html
  mkdocs.yaml
  pyproject.toml
  uv.lock
Due: none

Deployed e22e27c with MkDocs version: 1.6.1
  404.html
  Explanation/experiment_aggregation.html
  Explanation/generating_confusion_matrices.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_interfacing_with_the_filesystem.html
  How To Guides/choosing_a_prior.html
  How To Guides/configuration.html
  How To Guides/extending_the_library.html
  How To Guides/metric_syntax.html
  Reference/Experiment Aggregation/heterogeneity.html
  Reference/Experiment Aggregation/index.html
  Reference/Experiment.html
  Reference/ExperimentGroup.html
  Reference/IO.html
  Reference/Metrics/Averaging.html
  Reference/Metrics/Metrics.html
  Reference/Metrics/index.html
  Reference/Statistics.html
  Reference/Study.html
  _partial/averaging.html
  _partial/experiment_aggregation.html
  _partial/metrics.html
  _partial/metrics_index.html
  _static/figures/priors/by_count.png
  _static/figures/priors/by_dimension.png
  assets/images/social/How To Guides/choosing_a_prior.png
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

added pypi badge
  README.md
  documentation/index.md
  pyproject.toml
Due: none

Deployed ff75c75 with MkDocs version: 1.6.1
  assets/external/img.shields.io/pypi/v/prob_conf_mat.svg
  index.html
Due: none

fixed listwise comparison | updated list and pairwise comparison interfaces | totsch replication
  documentation/Explanation/totsch_replication.ipynb
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/02_comparing_experiments.ipynb
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/Getting Started/04_interfacing_with_the_filesystem.ipynb
  mkdocs.yaml
  src/prob_conf_mat/experiment_comparison/listwise.py
  src/prob_conf_mat/metrics/_metrics.py
  src/prob_conf_mat/stats/dirichlet_distribution.py
  src/prob_conf_mat/study.py
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

version bump
  README.md
  documentation_overrides/main.html
  pyproject.toml
  uv.lock
Due: none

Deployed 5e1723d with MkDocs version: 1.6.1
  404.html
  Explanation/experiment_aggregation.html
  Explanation/generating_confusion_matrices.html
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_interfacing_with_the_filesystem.html
  How To Guides/choosing_a_prior.html
  How To Guides/configuration.html
  How To Guides/extending_the_library.html
  How To Guides/metric_syntax.html
  Reference/Experiment Aggregation/heterogeneity.html
  Reference/Experiment Aggregation/index.html
  Reference/Experiment.html
  Reference/ExperimentGroup.html
  Reference/IO.html
  Reference/Metrics/Averaging.html
  Reference/Metrics/Metrics.html
  Reference/Metrics/index.html
  Reference/Statistics.html
  Reference/Study.html
  Reference/index.html
  _partial/averaging.html
  _partial/experiment_aggregation.html
  _partial/metrics.html
  _partial/metrics_index.html
  assets/external/img.shields.io/pypi/v/prob_conf_mat.svg
  index.html
Due: none

Create pypi-publish.yaml
  .github/workflows/pypi-publish.yaml
Due: none

Deployed 916bc94 with MkDocs version: 1.6.1
  assets/external/codecov.io/github/ioverho/prob_conf_mat/graph/badge.d34d9039.svg
Due: none

version bump
  documentation/assets/social-preview.png
  documentation/assets/social-preview.svg
  documentation_overrides/main.html
  pyproject.toml
  uv.lock
Due: none

Deployed 4d04381 with MkDocs version: 1.6.1
  404.html
  Explanation/experiment_aggregation.html
  Explanation/generating_confusion_matrices.html
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_interfacing_with_the_filesystem.html
  How To Guides/choosing_a_prior.html
  How To Guides/comparing_many_experiments.html
  How To Guides/configuration.html
  How To Guides/extending_the_library.html
  How To Guides/metric_syntax.html
  Reference/Experiment Aggregation/heterogeneity.html
  Reference/Experiment Aggregation/index.html
  Reference/Experiment.html
  Reference/ExperimentGroup.html
  Reference/IO.html
  Reference/Metrics/Averaging.html
  Reference/Metrics/Metrics.html
  Reference/Metrics/index.html
  Reference/Statistics.html
  Reference/Study.html
  Reference/index.html
  assets/social-preview.png
  assets/social-preview.svg
  index.html
Due: none

added social card to the docs website
  documentation/assets/social-preview.png
  documentation/assets/social-preview.svg
  documentation_overrides/main.html
Due: none

add execution of notebooks into the documentation build step
  mkdocs.yaml
Due: none

Added sensible next steps links to the Getting Started tutorials
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/02_comparing_experiments.ipynb
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/Getting Started/04_interfacing_with_the_filesystem.ipynb
Due: test_notebooks

fixed totsch et al. replication
  documentation/Explanation/totsch_replication.ipynb
  documentation/assets/figures/replication/totsch_fig_6.svg
Due: test_notebooks

fixed latex in the experiment aggregation documentation
  src/prob_conf_mat/experiment_aggregation/aggregators.py
  src/prob_conf_mat/experiment_aggregation/heterogeneity.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

expanded sampling explainer | added pages for additional explainers
  documentation/Explanation/generating_confusion_matrices.md
  documentation/Explanation/hypothesis_testing.md
  documentation/Explanation/metric_computation.md
  documentation/assets/figures/replication/totsch_fig_6.svg
  mkdocs.yaml
Due: none

Deployed daf8ad9 with MkDocs version: 1.6.1
  404.html
  Explanation/experiment_aggregation.html
  Explanation/generating_confusion_matrices.html
  Explanation/hypothesis_testing.html
  Explanation/metric_computation.html
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_interfacing_with_the_filesystem.html
  How To Guides/choosing_a_prior.html
  How To Guides/configuration.html
  How To Guides/extending_the_library.html
  How To Guides/metric_syntax.html
  Reference/Experiment Aggregation/heterogeneity.html
  Reference/Experiment Aggregation/index.html
  Reference/Experiment.html
  Reference/ExperimentGroup.html
  Reference/IO.html
  Reference/Metrics/Averaging.html
  Reference/Metrics/Metrics.html
  Reference/Metrics/index.html
  Reference/Statistics.html
  Reference/Study.html
  Reference/index.html
  assets/external/img.shields.io/pypi/v/prob_conf_mat.svg
  assets/figures/replication/totsch_fig_6.svg
  assets/images/social/Explanation/hypothesis_testing.png
  assets/images/social/Explanation/metric_computation.png
  assets/social-preview.png
  assets/social-preview.svg
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Fixes to documentation and expanded explainers (#4)
  documentation/Explanation/generating_confusion_matrices.md
  documentation/Explanation/hypothesis_testing.md
  documentation/Explanation/metric_computation.md
  documentation/Explanation/totsch_replication.ipynb
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/02_comparing_experiments.ipynb
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/Getting Started/04_interfacing_with_the_filesystem.ipynb
  documentation/assets/figures/replication/totsch_fig_6.svg
  documentation/assets/social-preview.png
  documentation/assets/social-preview.svg
  documentation_overrides/main.html
  mkdocs.yaml
  src/prob_conf_mat/experiment_aggregation/aggregators.py
  src/prob_conf_mat/experiment_aggregation/heterogeneity.py
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

Deployed 45f4cb9 with MkDocs version: 1.6.1
  Explanation/generating_confusion_matrices.html
  Explanation/hypothesis_testing.html
  Explanation/metric_computation.html
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_interfacing_with_the_filesystem.html
  assets/figures/replication/totsch_fig_6.svg
  search/search_index.json
Due: none

prevent documentation workflow from running on pull requests
  .github/workflows/documentation.yaml
Due: none

Deployed 0502387 with MkDocs version: 1.6.1
  Explanation/totsch_replication.html
  assets/figures/replication/totsch_fig_6.svg
  search/search_index.json
Due: none

added experiment aggregation documentation | moved mkdocs.py
  documentation/Explanation/experiment_aggregation.md
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/02_comparing_experiments.ipynb
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/Reference/Experiment Aggregation/index.md
  documentation/Reference/Metrics/index.md
  documentation/assets/figures/examples/aggregation_with_heterogeneity_fe.svg
  documentation/assets/figures/examples/aggregation_with_heterogeneity_histogram.svg
  documentation/assets/figures/replication/totsch_fig_6.svg
  documentation/mkdocs.py
  documentation/templates/experiment_aggregation.md
  mkdocs.yaml
  src/prob_conf_mat/experiment_aggregation/aggregators.py
  src/prob_conf_mat/study.py
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

updated workflows
  .github/workflows/documentation.yaml
  .github/workflows/pypi-publish.yaml
  .github/workflows/test.yaml
Due: none

experiment aggregation explainer | simplified workflows | updated documentation templating (#5)
  .github/workflows/documentation.yaml
  .github/workflows/pypi-publish.yaml
  .github/workflows/test.yaml
  documentation/Explanation/experiment_aggregation.md
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/02_comparing_experiments.ipynb
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/Reference/Experiment Aggregation/index.md
  documentation/Reference/Metrics/index.md
  documentation/assets/figures/examples/aggregation_with_heterogeneity_fe.svg
  documentation/assets/figures/examples/aggregation_with_heterogeneity_histogram.svg
  documentation/mkdocs.py
  documentation/templates/experiment_aggregation.md
  mkdocs.yaml
  src/prob_conf_mat/experiment_aggregation/aggregators.py
  src/prob_conf_mat/study.py
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

fix mkdocs build | move mkdocs.py
  Makefile
  documentation/assets/figures/replication/totsch_fig_6.svg
  documentation/templates/mkdocs.py
  mkdocs.yaml
Due: test_io, test_metric_equivalence, test_rng, mkdocs

fix documentation workflow
  .github/workflows/documentation.yaml
Due: none
