Repository ioverho/prob_conf_mat: changes, and which pre-commit hooks are due for each by the changed paths.
All: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-toml
-   repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.3
    hooks:
      - id: uv-lock
      - id: uv-export
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.8
    hooks:
    # Run the linter.
    -   id: ruff
        types_or: [ python, pyi ]
    # Run the formatter.
    -   id: ruff-format
        types_or: [ python, pyi ]
-   repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.400
    hooks:
    - id: pyright
-   repo: local
    hooks:
    -   id: test_io
        name: test_io
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_io.py
    -   id: test_metric_equivalence
        name: test_metric_equivalence
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_metric_equivalence.py
    -   id: test_notebooks
        name: test_notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_notebooks.py
    -   id: test_rng
        name: test_rng
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_rng.py
-   repo: local
    hooks:
    # TODO: make this dynamic
    # i.e. run only when the python files are newer than the documentation
    #-   id: update_documentation
    #    name: update_documentation
    #    language: python
    #    types: [python]
    #    pass_filenames: false
    #    entry: uv run python mkdocs.py
    -   id: mkdocs
        name: mkdocs
        language: python
        types: [python]
        pass_filenames: false
        entry: uv run mkdocs build

IO on confusion matrices now outside study
  .pre-commit-config.yaml
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/Reference/IO.md
  mkdocs.py
  src/bayes_conf_mat/config.py
  src/bayes_conf_mat/experiment.py
  src/bayes_conf_mat/experiment_group.py
  src/bayes_conf_mat/io/__init__.py
  src/bayes_conf_mat/io/abc.py
  src/bayes_conf_mat/io/csv.py
  src/bayes_conf_mat/io/in_memory.py
  src/bayes_conf_mat/io/interface.py
  src/bayes_conf_mat/io/utils/__init__.py
  src/bayes_conf_mat/io/utils/conversion.py
  src/bayes_conf_mat/study.py
  src/bayes_conf_mat/utils/__init__.py
  src/bayes_conf_mat/utils/io.py
  tests/test_io.py
  tests/test_metric_equivalence.py
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

passing pyright
  .pre-commit-config.yaml
  pyproject.toml
  src/bayes_conf_mat/reporting/experiment_summaries.py
  src/bayes_conf_mat/reporting/random_comparison.py
  src/bayes_conf_mat/reporting/visualization/diff_dist_plot.py
  src/bayes_conf_mat/reporting/visualization/dist_plot.py
  src/bayes_conf_mat/utils/__init__.py
  src/bayes_conf_mat/utils/lazy_import.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

documentation for updated io | cleaner experiment validation | experiments tests
  .pre-commit-config.yaml
  documentation/Reference/IO.md
  pyproject.toml
  src/bayes_conf_mat/config.py
  src/bayes_conf_mat/experiment.py
  src/bayes_conf_mat/experiment_group.py
  src/bayes_conf_mat/stats/dirichlet_distribution.py
  src/bayes_conf_mat/study.py
  src/bayes_conf_mat/utils/io.py
  tests/test_config.py
  tests/test_io.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added example with io | updated from and to dict methods | added micro averaging
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/02_comparing_experiments.ipynb
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/Getting Started/04_interfacing_with_the_filesystem.ipynb
  documentation/Getting Started/mnist_digits/config.yaml
  documentation/Getting Started/mnist_digits_class.ipynb
  documentation/index.md
  mkdocs.yaml
  src/bayes_conf_mat/config.py
  src/bayes_conf_mat/metrics/averaging.py
  src/bayes_conf_mat/study.py
  tests/README.md
  tests/test_notebooks.py
  tests/test_rng.py
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

updated documentation | simplified experiment aggregation definitions
  documentation/Explanation/index.md
  documentation/Getting Started/04_interfacing_with_the_filesystem.ipynb
  documentation/How To Guides/extending_the_library.md
  documentation/How To Guides/extending_the_library/implementing_metrics_and_aggregations.md
  documentation/How To Guides/index.md
  documentation/Reference/index.md
  mkdocs.yaml
  src/bayes_conf_mat/experiment_aggregation/abc.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/beta.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/fe_gaussian.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/fe_log_gaussian.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/gamma.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/histogram.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/re_gaussian.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/singleton.py
  src/bayes_conf_mat/experiment_aggregation/interface.py
  tests/test_extension.py
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

first attempt at explaining how conusion matrices are sampled
  documentation/Explanation/generating_confusion_matrices.md
  documentation/Reference/Metrics/Averaging.md
  documentation/Reference/Metrics/Metrics.md
  documentation/_static/figures/binary_confusion_matrix.png
  documentation/_static/figures/binary_confusion_matrix.svg
  documentation/_static/figures/multiclass_confusion_matrix.png
  documentation/_static/figures/multiclass_confusion_matrix.svg
  documentation/_static/katex.js
  mkdocs.yaml
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

added getitem method to study and experiment group
  .pre-commit-config.yaml
  src/bayes_conf_mat/experiment_group.py
  src/bayes_conf_mat/study.py
  tests/test_config.py
  tests/test_metric_equivalence.py
  tests/test_study.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added build system | added py.typed
  .gitignore
  pyproject.toml
  requirements.txt
  src/bayes_conf_mat/py.typed
  uv.lock
Due: none

moved jaxtyping to type checking block | fixed RNG tests | temporarily disable pyright and ruff checks
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  src/bayes_conf_mat/__init__.py
  src/bayes_conf_mat/experiment.py
  src/bayes_conf_mat/experiment_aggregation/abc.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/beta.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/fe_gaussian.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/fe_log_gaussian.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/gamma.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/histogram.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/re_gaussian.py
  src/bayes_conf_mat/experiment_aggregation/aggregators/singleton.py
  src/bayes_conf_mat/experiment_aggregation/heterogeneity.py
  src/bayes_conf_mat/experiment_comparison/listwise.py
  src/bayes_conf_mat/experiment_comparison/pairwise.py
  src/bayes_conf_mat/experiment_group.py
  src/bayes_conf_mat/metrics/_metrics.py
  src/bayes_conf_mat/metrics/abc.py
  src/bayes_conf_mat/metrics/averaging.py
  src/bayes_conf_mat/stats/batched_averaging.py
  src/bayes_conf_mat/stats/dirichlet_distribution.py
  src/bayes_conf_mat/stats/hdi_estimation.py
  src/bayes_conf_mat/stats/mode_estimation.py
  src/bayes_conf_mat/stats/summary.py
  src/bayes_conf_mat/stats/truncated_sampling.py
  src/bayes_conf_mat/study.py
  src/bayes_conf_mat/utils/io.py
  tests/test_metric_equivalence.py
  tests/test_rng.py
  uv.lock
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added make file | version bump dependencies
  .pre-commit-config.yaml
  Makefile
  requirements.txt
  uv.lock
Due: none

first attempt at profiling
  pyproject.toml
  tests/profile/basic_example.py
  tests/profile/dirichlet_distribution.py
  uv.lock
Due: test_io, test_metric_equivalence, test_rng, mkdocs

refactored tests | added coverage | added basic examples test
  Makefile
  pyproject.toml
  src/bayes_conf_mat/config.py
  src/bayes_conf_mat/io.py
  src/bayes_conf_mat/metrics/_metrics.py
  src/bayes_conf_mat/study.py
  tests/test_basic_example.py
  tests/test_config.py
  tests/test_io.py
  tests/test_metric_equivalence.py
  tests/test_notebooks.py
  tests/test_rng.py
  uv.lock
Due: test_io, test_metric_equivalence, test_rng, mkdocs

first attempt at a nice readme
  .markdownlint.json
  Makefile
  README.md
  documentation/_static/logo.svg
  documentation/_static/logo_rectangular.svg
  documentation/_static/logo_square.svg
  pyproject.toml
  uv.lock
Due: none

fixed the getting started notebooks
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/Getting Started/04_interfacing_with_the_filesystem.ipynb
Due: test_notebooks

makefile edits
  Makefile
  README.md
  documentation/_static/logo_rectangle.svg
  mkdocs.yaml
Due: none

dirichlet sampling tests | check for negative elements during conf mat io
  src/prob_conf_mat/io.py
  src/prob_conf_mat/stats/dirichlet_distribution.py
  tests/test_dirichlet.py
  tests/test_io.py
  tests/test_rng.py
  tests/test_study.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

Added testing workflow
  .github/workflows/test.yaml
Due: none

added codecov token
  .github/workflows/test.yaml
Due: none

shifted to pytest-cov
  pyproject.toml
  tests/test_experiment_aggregation.py
  uv.lock
Due: test_io, test_metric_equivalence, test_rng, mkdocs

trying to fix codecov
  .github/workflows/test.yaml
Due: none

àdded test and codecov badges
  README.md
Due: none

refactor experiment aggregators | test experiment aggregators
  .pre-commit-config.yaml
  README.md
  documentation/Reference/Experiment Aggregation/index.md
  documentation/Reference/Metrics/Metrics.md
  documentation/Reference/Metrics/index.md
  src/prob_conf_mat/experiment_aggregation/aggregators.py
  src/prob_conf_mat/experiment_aggregation/aggregators/__init__.py
  src/prob_conf_mat/experiment_aggregation/aggregators/beta.py
  src/prob_conf_mat/experiment_aggregation/aggregators/fe_gaussian.py
  src/prob_conf_mat/experiment_aggregation/aggregators/fe_log_gaussian.py
  src/prob_conf_mat/experiment_aggregation/aggregators/gamma.py
  src/prob_conf_mat/experiment_aggregation/aggregators/histogram.py
  src/prob_conf_mat/experiment_aggregation/aggregators/re_gaussian.py
  src/prob_conf_mat/experiment_aggregation/aggregators/singleton.py
  tests/README.md
  tests/test_experiment_aggregation.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

basic testing of reporting methods
  tests/test_reporting_example.py
  tests/test_study.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

expanded documentation
  README.md
  documentation/Explanation/experiment_aggregation.md
  documentation/How To Guides/configuration.md
  documentation/Reference/Experiment Aggregation/heterogeneity.md
  documentation/Reference/Statistics.md
  documentation/index.md
  mkdocs.yaml
  pyproject.toml
  src/prob_conf_mat/experiment_aggregation/abc.py
  src/prob_conf_mat/experiment_aggregation/aggregators.py
  src/prob_conf_mat/experiment_aggregation/heterogeneity.py
  uv.lock
Due: test_io, test_metric_equivalence, test_rng, mkdocs

increased test coverage for metrics
  src/prob_conf_mat/metrics/_metrics.py
  src/prob_conf_mat/metrics/abc.py
  src/prob_conf_mat/metrics/interface.py
  tests/test_metrics.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

improved test coverage in metrics interface | updated '_parse_kwargs' function
  pyproject.toml
  src/prob_conf_mat/metrics/interface.py
  tests/test_metrics.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

clean pyright report
  pyproject.toml
  src/prob_conf_mat/experiment_aggregation/heterogeneity.py
  src/prob_conf_mat/metrics/experimental_metrics/__init__.py
  src/prob_conf_mat/metrics/experimental_metrics/f1_gain.py
  src/prob_conf_mat/metrics/metrics/__init__.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

dark mode logo
  README.md
  documentation/_static/logo.png
  documentation/_static/logo_rectangle_light_text.svg
Due: none

fix to heterogeneity interpretation
  README.md
  src/prob_conf_mat/experiment_aggregation/heterogeneity.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

updated readme | added temporary citation
  CITATION.cff
  README.md
  documentation/_static/figures/readme/comparison_plot.svg
  documentation/_static/figures/readme/forest_plot.svg
  documentation/_static/figures/readme/uncertainty_fig.svg
  documentation/index.md
  pyproject.toml
  src/prob_conf_mat/experiment_group.py
  uv.lock
Due: test_io, test_metric_equivalence, test_rng, mkdocs

corrected version
  pyproject.toml
  uv.lock
Due: none

Create documentation.yaml
  .github/workflows/documentation.yaml
Due: none

Have tests only run for code changes
  .github/workflows/test.yaml
Due: none

Update documentation.yaml
  .github/workflows/documentation.yaml
Due: none

Create CNAME
  CNAME
Due: none

fixes to documentation
  README.md
  documentation/Explanation/index.md
  documentation/Getting Started/04_interfacing_with_the_filesystem.ipynb
  documentation/Getting Started/index.md
  documentation/How To Guides/configuration.md
  documentation/How To Guides/index.md
  documentation/_static/css.css
  documentation/_static/css/main.css
  documentation/_static/custom.css
  documentation/_static/logo_rectangle_dark_text.svg
  documentation/_static/mathjax.js
  documentation/index.md
  documentation_overrides/.icons/custom/logo-rectangle.svg
  documentation_overrides/partials/logo.html
  mkdocs.yaml
Due: test_notebooks
