Repository ioverho/prob_conf_mat: changes, and which pre-commit hooks are due for each by the changed paths.
All: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

test_io:
  name: test_io
  language: system
  pass_filenames: false
  entry: ./.venv/bin/pytest tests/test_io.py

test_metric_equivalence:
  name: test_metric_equivalence
  language: system
  pass_filenames: false
  entry: ./.venv/bin/pytest tests/test_metric_equivalence.py

test_notebooks:
  name: test_notebooks
  language: system
  pass_filenames: false
  entry: ./.venv/bin/pytest tests/test_notebooks.py

test_rng:
  name: test_rng
  language: system
  pass_filenames: false
  entry: ./.venv/bin/pytest tests/test_rng.py

mkdocs:
  name: mkdocs
  language: python
  pass_filenames: false
  entry: uv run mkdocs build

changed definition of BF-RoPE to odds ratio
  .gitignore
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/02_comparing_experiments.ipynb
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/Getting Started/04_loading_and_saving_to_disk.ipynb
  src/prob_conf_mat/experiment_comparison/pairwise.py
  src/prob_conf_mat/stats/__init__.py
  src/prob_conf_mat/stats/probability.py
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

fixed types in odds signature
  src/prob_conf_mat/stats/probability.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

Deployed f804938 with MkDocs version: 1.6.1
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_loading_and_saving_to_disk.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

dev dependencies bump
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  pyproject.toml
  uv.lock
Due: test_notebooks

version bump
  documentation_overrides/main.html
  pyproject.toml
  uv.lock
Due: none

Deployed d72586b with MkDocs version: 1.6.1
  404.html
  Explanation/experiment_aggregation.html
  Explanation/generating_confusion_matrices.html
  Explanation/inference.html
  Explanation/metric_computation.html
  Explanation/totsch_replication.html
  Getting Started/01_estimating_uncertainty.html
  Getting Started/02_comparing_experiments.html
  Getting Started/03_aggregating_experiments.html
  Getting Started/04_loading_and_saving_to_disk.html
  Getting Started/index.html
  How To Guides/choosing_a_prior.html
  How To Guides/comparing_many_experiments.html
  How To Guides/configuration.html
  How To Guides/extending_the_library.html
  How To Guides/metric_syntax.html
  Reference/Averaging.html
  Reference/Experiment Aggregation/heterogeneity.html
  Reference/Experiment Aggregation/index.html
  Reference/Experiment.html
  Reference/ExperimentGroup.html
  Reference/IO.html
  Reference/Metrics.html
  Reference/Statistics.html
  Reference/Study.html
  index.html
  search/search_index.json
Due: none

big manual refactor | changed urls to internal references
  Makefile
  deprecated_mkdocs.yaml
  docs/assets/stylesheets/extra.css
  docs/getting_started/examples/mnist_digits.ipynb
  docs/how_to/comparing_many_experiments.md
  docs/how_to/configuration.md
  docs/how_to/extending_the_library.md
  docs/how_to/metric_syntax.md
  docs/reference/Experiment.md
  docs/reference/ExperimentGroup.md
  docs/reference/Study.md
  docs/reference/averaging/abc.md
  docs/reference/averaging/averaging_methods.md
  docs/reference/averaging/overview.md
  docs/reference/experiment_aggregation/abc.md
  docs/reference/experiment_aggregation/experiment_aggregators.md
  docs/reference/experiment_aggregation/heterogeneity.md
  docs/reference/experiment_aggregation/index.md
  docs/reference/experiment_aggregation/overview.md
  docs/reference/metrics/abc.md
  docs/reference/metrics/metrics.md
  docs/reference/metrics/overview.md
  src/prob_conf_mat/study.py
  zensical.toml
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

minor typo fix
  docs/getting_started/index.md
Due: none

potentially add outgoing url markers
  docs/assets/stylesheets/outgoing_links.css
  zensical.toml
Due: none

added notebook to html conversion script
  Makefile
  docs/getting_started/examples/mnist_digits.ipynb
  docs/ignore/__init__,py
  docs/ignore/post-build/convert_notebooks.py
  pyproject.toml
  uv.lock
  zensical.toml
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

fixed error when generating observed difference
  documentation/changelog.md
  src/prob_conf_mat/study.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added default values to the `Study.get_*` methods
  documentation/changelog.md
  src/prob_conf_mat/study.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

consistent colour palette | background colours in plots
  documentation/Getting Started/02_comparing_experiments.ipynb
  documentation/Getting Started/03_aggregating_experiments.ipynb
  documentation/assets/figures/binary_confusion_matrix.svg
  documentation/assets/figures/multiclass_confusion_matrix.png
  documentation/changelog.md
  pyproject.toml
  src/prob_conf_mat/study.py
  uv.lock
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

type checks
  documentation/Getting Started/01_estimating_uncertainty.ipynb
  documentation/Getting Started/04_loading_and_saving_to_disk.ipynb
  src/prob_conf_mat/experiment_aggregation/aggregators.py
  src/prob_conf_mat/study.py
  tests/test_config.py
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

mode estimation now derives bounds from data
  src/prob_conf_mat/stats/mode_estimation.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added changelog to documentation
  mkdocs.yaml
Due: none

fixes experiment aggregation ignoring classes beyond 1
  documentation/changelog.md
  src/prob_conf_mat/experiment_aggregation/abc.py
  tests/test_experiment_aggregation.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

Deployed 9adfc6b with MkDocs version: 1.6.1
  Explanation/totsch_replication.html
  Getting Started/03_aggregating_experiments.html
  changelog.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

update to zensical v0.0.17
  docs/getting_started/04_loading_and_saving_to_disk.ipynb
  docs/getting_started/examples/mnist_digits.ipynb
  pyproject.toml
  src/prob_conf_mat/experiment_aggregation/abc.py
  src/prob_conf_mat/experiment_group.py
  uv.lock
  zensical.toml
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

fix uv.lock file
  uv.lock
Due: none

fix documentation paths
  README.md
  docs/explanation/totsch_replication.ipynb
  docs/getting_started/01_estimating_uncertainty.ipynb
  docs/getting_started/02_comparing_experiments.ipynb
  docs/getting_started/03_aggregating_experiments.ipynb
  docs/getting_started/04_loading_and_saving_to_disk.ipynb
  pyproject.toml
  tests/profile/basic_example.py
  tests/test_metrics.py
  tests/test_notebooks.py
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

fix zensical deploy workflow | added 3.14 to tests
  .github/workflows/docs.yml
  .github/workflows/test.yaml
Due: none

add zensical notebook conversion
  .github/workflows/docs.yml
Due: none

remove banner | update metadata
  deprecated_mkdocs.yaml
  doc_overrides/main.html
  docs/changelog.md
  pyproject.toml
  uv.lock
  zensical.toml
Due: none

added totsch replication back
  docs/explanation/totsch_replication.ipynb
  docs/ignore/post-build/convert_notebooks.py
  zensical.toml
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

documentation fixes and tweaks
  README.md
  docs/assets/stylesheets/extra.css
  docs/explanation/experiment_aggregation.md
  docs/explanation/generating_confusion_matrices.md
  docs/explanation/inference.md
  docs/getting_started/01_estimating_uncertainty.ipynb
  docs/getting_started/02_comparing_experiments.ipynb
  docs/getting_started/03_aggregating_experiments.ipynb
  docs/getting_started/04_loading_and_saving_to_disk.ipynb
  docs/getting_started/index.md
  docs/getting_started/totsch_replication.ipynb
  docs/how_to/comparing_many_experiments.md
  docs/how_to/configuration.md
  docs/how_to/extending_the_library.md
  docs/how_to/metric_syntax.md
  docs/how_to/priors.md
  docs/ignore/post-build/convert_notebooks.py
  docs/index.md
  docs/reference/experiment_aggregation/overview.md
  zensical.toml
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

documentation fixes and tweaks
  docs/changelog.md
  docs/explanation/generating_confusion_matrices.md
  docs/explanation/inference.md
  docs/explanation/metric_computation.md
  docs/index.md
  docs/reference/Study.md
Due: none

added min max averaging | added ord reg metrics
  docs/changelog.md
  docs/how_to/ordinal_regression.md
  docs/reference/averaging/averaging_methods.md
  docs/reference/averaging/overview.md
  docs/reference/metrics/metrics.md
  pyproject.toml
  src/prob_conf_mat/metrics/__init__.py
  src/prob_conf_mat/metrics/averaging.py
  src/prob_conf_mat/metrics/experimental_metrics/__init__.py
  src/prob_conf_mat/metrics/experimental_metrics/ordinal_regression.py
  tests/test_metric_equivalence.py
  zensical.toml
Due: test_io, test_metric_equivalence, test_rng, mkdocs

typing fixes
  docs/getting_started/01_estimating_uncertainty.ipynb
  pyproject.toml
  src/prob_conf_mat/config.py
  src/prob_conf_mat/experiment.py
  src/prob_conf_mat/experiment_group.py
  src/prob_conf_mat/io.py
  src/prob_conf_mat/metrics/abc.py
  src/prob_conf_mat/study.py
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

fixed changelog
  docs/changelog.md
Due: none

updated pre-commit | version bump
  .pre-commit-config.yaml
  CNAME
  Makefile
  docs/assets/javascripts/mathjax.js
  docs/assets/stylesheets/extra.css
  docs/assets/stylesheets/outgoing_links.css
  docs/license.md
  pyproject.toml
  requirements.txt
  src/prob_conf_mat/metrics/experimental_metrics/__init__.py
  uv.lock
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added optional keyword args to metricsand averaging method docstrings
  src/prob_conf_mat/metrics/_metrics.py
  src/prob_conf_mat/metrics/averaging.py
  src/prob_conf_mat/metrics/experimental_metrics/ordinal_regression.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

io utilities expansion | additional examples
  docs/changelog.md
  docs/getting_started/04_loading_and_saving_to_disk.ipynb
  docs/getting_started/examples/eigenfaces.ipynb
  docs/getting_started/examples/mnist_skorch.ipynb
  docs/getting_started/examples/totsch_replication.ipynb
  docs/reference/IO.md
  pyproject.toml
  src/prob_conf_mat/experiment_aggregation/abc.py
  src/prob_conf_mat/io.py
  src/prob_conf_mat/metrics/experimental_metrics/f1_gain.py
  src/prob_conf_mat/metrics/experimental_metrics/ordinal_regression.py
  zensical.toml
Due: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

correct version number
  pyproject.toml
Due: none

correct version number
  uv.lock
Due: none

enable manual pypi publish
  .github/workflows/pypi-publish.yaml
Due: none

Path conditions:
  test_io: any of: \.py$
  test_metric_equivalence: any of: \.py$
  test_notebooks: any of: \.ipynb$
  test_rng: any of: \.py$
  mkdocs: any of: \.py$
