Repository ioverho/prob_conf_mat: changes, and which pre-commit hooks are due for each by the changed paths.
All: test_io, test_metric_equivalence, test_notebooks, test_rng, mkdocs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-toml
-   repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.3
    hooks:
      - id: uv-lock
      - id: uv-export
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.8
    hooks:
    # Run the linter.
    -   id: ruff
        types_or: [ python, pyi ]
    # Run the formatter.
    -   id: ruff-format
        types_or: [ python, pyi ]
-   repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.400
    hooks:
    - id: pyright
-   repo: local
    hooks:
    -   id: test_io
        name: test_io
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_io.py
    -   id: test_metric_equivalence
        name: test_metric_equivalence
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_metric_equivalence.py
    -   id: test_notebooks
        name: test_notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_notebooks.py
    -   id: test_rng
        name: test_rng
        language: system
        types: [python]
        pass_filenames: false
        entry: ./.venv/bin/pytest tests/test_rng.py
-   repo: local
    hooks:
    # TODO: make this dynamic
    # i.e. run only when the python files are newer than the documentation
    #-   id: update_documentation
    #    name: update_documentation
    #    language: python
    #    types: [python]
    #    pass_filenames: false
    #    entry: uv run python mkdocs.py
    -   id: mkdocs
        name: mkdocs
        language: python
        types: [python]
        pass_filenames: false
        entry: uv run mkdocs build

version bump
  .gitignore
  pyproject.toml
  uv.lock
Due: none

delay dependencies by 30 days
  pyproject.toml
  uv.lock
Due: none

update pre-commit to comply with repo review
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  repo-review.md
Due: none

downgrade mkdocs-jupyter to adhere to upgrade policy
  pyproject.toml
Due: none

add ruff rules to adhere to repo review
  pyproject.toml
  requirements.txt
Due: none

made version dynamic
  pyproject.toml
  src/prob_conf_mat/__init__.py
  uv.lock
Due: test_io, test_metric_equivalence, test_rng, mkdocs

moved docs to its own dependency group | added linting to non-md files in docs
  .pre-commit-config.yaml
  Makefile
  doc_overrides/main.html
  doc_overrides/partials/integrations/analytics/custom.html
  doc_overrides/partials/logo.html
  docs/assets/javascripts/mathjax.js
  docs/assets/stylesheets/extra.css
  docs/assets/stylesheets/outgoing_links.css
  docs/getting_started/01_estimating_uncertainty.ipynb
  docs/getting_started/02_comparing_experiments.ipynb
  docs/getting_started/03_aggregating_experiments.ipynb
  docs/getting_started/04_loading_and_saving_to_disk.ipynb
  docs/getting_started/examples/eigenfaces.ipynb
  docs/getting_started/examples/mnist_skorch.ipynb
  docs/getting_started/examples/totsch_replication.ipynb
  pyproject.toml
  uv.lock
Due: test_notebooks

added dependabot for GH actions | added auto updates for pre-commit
  .github/dependabot.yaml
  .pre-commit-config.yaml
Due: none

added security improvements
  src/prob_conf_mat/metrics/interface.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added notebook tests back
  Makefile
  pyproject.toml
  uv.lock
Due: none

first attempt at incorporating nox
  noxfile.py
  pyproject.toml
  uv.lock
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added repo review to docs
  pyproject.toml
  repo-review.md
  zensical.toml
Due: none

added repo review to docs
  docs/index.md
  docs/repo-review.md
Due: none

documentation workflow fixes
  .github/workflows/docs.yml
Due: none

bump documentation version
  docs/changelog.md
  docs/how_to/priors.md
  docs/index.md
  docs/repo-review.md
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

add mean rank and hmr to listwise comparison | prob rank table visualization
  src/prob_conf_mat/experiment_comparison/listwise.py
  src/prob_conf_mat/study.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added argument validation in get_samples api
  docs/changelog.md
  pyproject.toml
  src/prob_conf_mat/study.py
  tests/test_cache.py
  tests/test_study.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

fixed sampling method membership test for py3.11
  src/prob_conf_mat/study.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added sklearn interface to add_experiment
  docs/changelog.md
  docs/how_to/confusion_matrix_io.md
  pyproject.toml
  requirements.txt
  src/prob_conf_mat/experiment_aggregation/interface.py
  src/prob_conf_mat/study.py
  tests/test_config.py
  tests/test_metric_equivalence.py
  uv.lock
  zensical.toml
Due: test_io, test_metric_equivalence, test_rng, mkdocs

added small quick start to README
  README.md
Due: none

added release info to documentation
  docs/changelog.md
Due: none

minor typehinting tweaks
  .gitignore
  src/prob_conf_mat/config.py
  src/prob_conf_mat/experiment.py
  src/prob_conf_mat/experiment_aggregation/abc.py
  src/prob_conf_mat/experiment_aggregation/interface.py
  src/prob_conf_mat/experiment_comparison/pairwise.py
  src/prob_conf_mat/metrics/_metrics.py
  src/prob_conf_mat/metrics/abc.py
  src/prob_conf_mat/utils/cache.py
  tests/test_config.py
Due: test_io, test_metric_equivalence, test_rng, mkdocs

bump documentation dependencies
  .gitignore
  docs/index.md
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

bump documentation dependencies (#27)
  .gitignore
  docs/index.md
  pyproject.toml
  requirements.txt
  uv.lock
Due: none
